/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(-45deg, #000428, #004e92, #000428, #004e92);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  color: #00ffff; /* Neon cyan text */
  overflow: hidden;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Container for the App */
.App {
  text-align: center;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Heading */
h1 {
  font-size: 2.5rem;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
  margin-bottom: 20px;
}

/* Camera Display */
.camera-display {
  margin: 20px auto;
  max-width: 640px;
  border: 2px solid #00ffff;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  overflow: hidden;
  box-shadow: 0 0 20px #00ffff;
}

.camera-display img {
  display: block;
  width: 100%;
  height: auto;
}

/* Control Buttons Container */
.control-buttons {
  position: fixed;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  grid-template-areas:
    ". up ."
    "left stop right"
    ". down .";
  gap: 10px;
}

/* Button Styles */
.control-button {
  padding: 20px;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  background: #000;
  color: #00ffff;
  border: 4px solid #00ffff; /* Thicker border */
  border-radius: 10px; /* Slightly larger border radius */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #00ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-button:hover {
  background: #00ffff;
  color: #000;
  box-shadow: 0 0 20px #00ffff;
}

.control-button:active, 
.control-button.active {
  transform: scale(0.9);
  box-shadow: 0 0 5px #00ffff;
  background: #008080;
  color: #fff;
}

.control-button span {
  font-weight: bold;
  font-size: 24px;
}

.control-button svg {
  display: block;
  margin: 0 auto;
}

/* Position Each Button */
.up {
  grid-area: up;
}

.left {
  grid-area: left;
}

.down {
  grid-area: down;
}

.right {
  grid-area: right;
}

.stop {
  grid-area: stop;
}
/* Object Input */
.object-input {
  margin: 20px 0;
}

.object-input input {
  padding: 10px;
  width: 520px;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
  background: #000;
  color: #00ffff;
  border: 2px solid #00ffff;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 10px #00ffff;
}

.object-input input::placeholder {
  color: #00ffff;
  opacity: 0.7;
}

.object-input button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
  background: #000;
  color: #00ffff;
  border: 2px solid #00ffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #00ffff;
  margin-left: 10px;
}

.object-input button:hover {
  background: #00ffff;
  color: #000;
  box-shadow: 0 0 20px #00ffff;
}

.object-input button:active {
  transform: scale(0.9);
  box-shadow: 0 0 5px #00ffff;
  background: #008080;
  color: #fff;
}

.object-input button.active {
  transform: scale(0.9);
  box-shadow: 0 0 5px #00ffff;
  background: #008080;
  color: #fff;
}

.object-input button svg {
  display: block;
  margin: 0 auto;
}

/* Bounding Box Toggle Button */
.toggle-bbox-button {
  right: 80px;
  padding: 2px 4px;
  font-size: 10px;
  font-family: 'Orbitron', sans-serif;
  background: #000;
  color: #00ffff;
  border: 3px solid #00ffff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px #00ffff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.toggle-bbox-button:hover {
  background: #00ffff;
  color: #000;
  box-shadow: 0 0 30px #00ffff;
}

.toggle-bbox-button:active {
  transform: scale(0.95);
  background: #008080;
  color: #fff;
  box-shadow: 0 0 10px #00ffff;
}

.status {
  right: 80px;
  padding: 4px 4px;
  font-size: 10px;
  font-family: 'Orbitron', sans-serif;
  background: #d1ddeb;
  color: #122929;
  border: 3px solid #00ffff;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px #00ffff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}